{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>Student Attendance Monitoring System</title>
        <link href="{% static 'attendance/css/log.css' %}" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <h1>Student Attendance Monitoring System</h1>
        </header>

        <main>
            <div class="note">
                <h3>Make sure to input the correct student ID and full name or your attendance will be invalid.</h3>
            </div>
            
            <div class="form">
                <form id="attendance-form">
                    {% csrf_token %}
                    <div class="field">
                        <label for="student_number">Student Number:</label>
                        <input id="student_number" name="student_number" required type="text"/>
                    </div>
                    
                    <div class="field">
                        <label for="full_name">Full Name:</label>
                        <input id="full_name" name="full_name" required type="text"/>
                    </div>

                    <div class="field">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </main>

        <div class="modal" id="alert-box">
            <div class="modal-content">
                <p id="alert-message">This is an alert message.</p>
                <button id="alert-btn">OK</button>
            </div>
        </div>
    </body>

    <script type="module" src="{% static 'attendance/js/log.js' %}"></script>
</html>