* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: rgb(32, 41, 66);
    padding: 20px;
    color: white;
    text-align: center;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0,0,0,0.25);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

.note {
    margin-bottom: 15px;
    text-align: center;;
}

.note h3 {
    text-shadow: 1px 1px 0px rgba(0,0,0, 1);
}

body {
    height: 100vh;
}

main {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(70deg, rgb(22, 34, 56), rgb(48, 63, 90));
    align-items: center;
    height: 100%;
    gap: 10px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}

input {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.06);
    outline: none;
    appearance: none;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.4) inset;
}

button[type="submit"] {
    padding: 12px 45px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid rgb(255,255,255);
    background: rgba(0,0,0,0);
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: rgba(255,255,255,0.1);
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: linear-gradient(70deg, rgb(22, 34, 56), rgb(48, 63, 90));
    border-radius: 8px;
    border: 1px solid rgb(59, 72, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    overflow: hidden;
    width: 20%;
    height: 15%;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    padding: 20px 30px;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 8px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.modal-content button:hover {
    background: rgba(255,255,255,0.1);
}

@media (max-width: 600px) {
    .modal-content {
        width: 80%;
        height: 25%;
    }
}